@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    box-sizing: border-box; /* include padding and border in widdth */
}
body {
    overflow: hidden;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

#menu-panel {
    position: absolute;
    bottom: 20px;
    /* left: 0px; */
    width: auto;
    height: auto;
    color: white;
}

ul {
    list-style: none;
}

li {
    margin: 10px;
}

.physics-info {
    height: 50vh;
    width: 500px;
    position: absolute;
    right: 25%;
    top: 25%;
    background-color: #f4f4ff;
    align-items: center;
    box-shadow: 3px 5px 8px #ccc;
    display: none;
}

.physics-info form {
    display: flex;
    /* align-content: space-around; */
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.physics-info form input {
    margin: 15px 0px;
    width: 85%;
}

.physics-info form input {
    padding: 12px;
}

button {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    background-color: rgba(25, 26, 25, 0.719);
    border: 1px solid rgb(101, 100, 99);
    font-family: 'Roboto', sans-serif !important;
    text-transform: uppercase;
}

button:hover {
    color: wheat;
}

.a-label {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.description-div {
    position: absolute;
    left: 30px;
    background-color: black;
    min-width: 200px;
    padding: 10px;
    color: rgb(218, 213, 203);
    /* display: none; */
    pointer-events: none;
    font-size: 12px;
}

#loader {
    border-top: 16px solid rgb(243, 158, 0);
    border-right: 16px solid green;
    border-bottom: 16px solid rgb(55, 53, 180);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
    left: 45%;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#main-screen {
    padding: 100px;
    position: absolute;
    color: wheat;
    background-color: #00000050;
    box-shadow: 2px 2px 10px #ccc;
    top: 40%;
    right: 40%;
}

#music {
    position: absolute;
    padding: 20px;
    right: 100px;
    top: 10px;
    color: wheat;
}

#music i {
    font-size: 24px;
}

#stopIcon {
    display: none;
}

.slidecontainer {
    position: absolute;
    max-width: 100px;
    right: 50px;
    top: 100px;
}

/* slider css code from w3schools.com */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04aa6d;
    cursor: pointer;
}

/* for slider css added by me */
#scaleDisplay {
    color: white;
    font-weight: bold;
}

.make-mesh-div {
    width: fit-content;
    position: fixed;
    right: 25px;
    bottom: 50px;
    background-color: #d3d3d3;
    font-weight: bold;
    padding: 12px 20px;
}
.make-mesh-div ul {
    padding-inline-start: 0px;
}

.make-mesh-div li {
    padding: 12px 10px;
    border-bottom: 1px solid;
    cursor: pointer;
}
.slidecontainer {
    display: none;
}

#control-info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    line-height: 34px;
    color: white;
    font-family: monospace;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

#drop_test {
    position: absolute;
    right: 20px;
    top: 100px;
    cursor: pointer;
    color: wheat;
    border: 1 px white;
}

#drop_test button {
    padding: 10px;
}

#stateDownload {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    background-color: #fb9b02;
    padding: 15px 30px;
}

#stateInputLabel {
    padding: 15px 15px;
    width: 100px;
    background-color: #d04905;
    color: white;
    text-transform: uppercase;
    margin-left: 10px;
    /* font-weight: bold; */
    cursor: pointer;
    margin-right: 10px;
}

#physicsInput {
    display: none;
}

#state-upload-div {
    margin: 50px 0px;
}
